@{
    ViewData["Title"] = "Home Page";
}
@model ArmyViewModel


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="container">
        <table class="table">
            <tr>
                <td>Name</td>
                <td>Faction</td>
                <td>Point Limit</td>
                <td>Control</td>
            </tr>
            @foreach (var armylist in Model.ArmyList)
            {
                <tr>
                    <td>@armylist.Name</td>
                    <td>@armylist.Faction.Name</td>
                    <td>@armylist.PointLimit</td>
                    <td>
                        <a asp-action="Edit" asp-controller="Army" asp-route-Id="@armylist.Id"><i class="far fa-edit"></i></a> | <a asp-action="Delete" asp-controller="army" asp-route-Id="@armylist.Id"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>